#root{
     height: 100vh;
}

#searchBtn{
    border-radius: 0;
}
#user{
    margin-right: 45px;
}
.brand{
    max-width: 15%;
}
.form-inline{
    flex-wrap: nowrap !important;
}
.formSignin{
  max-width: 500px;
  margin: 0 auto;
  border: 1px solid rgb(168, 168, 168);
  padding: 20px;
  border-radius: 10px;
  box-shadow:5px 5px 10px rgba(82, 80, 80, .3);
  background-color: #fff;
}
#forgotPassword{
    display: block;
    margin-top: 10px;
}
#welcomeBack{
    margin-bottom: 25px;
}

                                                            /*Card Notes */
.card:hover{
    box-shadow: 2px 2px 7px rgb(226, 224, 224);
}
#cardTitle{
    padding: 10px;
    margin-left: 10px;
}
#cardContent{
    padding: 0 15px 0 20px;
}
#preTagNotes{
    font-family: Arial, Helvetica, sans-serif;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
#cardFooter{
    padding: 0 10px 0 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
}
.footBtn{
    height: 35px;
}
.footBtn:hover{
    background-color: rgba(199, 199, 199, 0.5);
}
